</section>
 <!-- footer -->
		  <div class="footer">
			<div class="wthree-copyright">
			  <p>© 2020 SIMILEANR <a href="http://w3layouts.com">Jessica Yustres - Danna Camila Claros - Yuly Alezandra Cruz</a></p>
			</div>
		  </div>
  <!-- / footer -->
</section>