<!--sidebar start-->
<aside>
    <div id="sidebar" class="nav-collapse">
        <!-- sidebar menu start-->
        <div class="leftside-navigation">
            <ul class="sidebar-menu" id="nav-accordion">
                <li>
                    <a class="active" href="index.html">
                        <i class="fa fa-dashboard"></i>
                        <span>Inicio</span>
                    </a>
                </li>
                
                <li class="sub-menu">
                    <a href="javascript:;">
                        <i class="fa fa-book"></i>
                        <span>Estrategias</span>
                    </a>
                    <ul class="sub">
						<li><a href="typography.html">Listar </a></li>
						<li><a href="glyphicon.html">Agregar</a></li>
                        <li><a href="grids.html">Editar</a></li>
                    </ul>
                </li>
                <li>
                    <a href="fontawesome.html">
                        <i class="fa fa-bullhorn"></i>
                        <span>Todos</span>
                    </a>
                </li>
                <li class="sub-menu">
                    <a href="javascript:;">
                        <i class="fa fa-th"></i>
                        <span>Usuarios </span>
                    </a>
                    <ul class="sub">
                        <li><a href="basic_table.html">Estudiantes</a></li>
                        <li><a href="responsive_table.html">Profesores</a></li>
                    </ul>
                </li>
                <li class="sub-menu">
                    <a href="javascript:;">
                        <i class="fa fa-tasks"></i>
                        <span>Agregar Tests</span>
                    </a>
                    <ul class="sub">
                        <li><a href="testIM.html">Test IM</a></li>
						<li><a href="testDI.html">Test Didáctico</a></li>
						<li><a href="testI.html">Test Inglés</a></li>
				
                    </ul>
                </li>

        
         
            </ul>            </div>
        <!-- sidebar menu end-->
    </div>
</aside>
<!--sidebar end-->