<div class="form-w3layouts">
    <!-- page start-->
    <!-- page start-->
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    Agregar Estrategia
                </header>


                <div class="panel-body">
                    <form class="form-horizontal bucket-form">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Nombre Estrategia</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Inteligenca </label>
                            <div class="col-sm-6">
                                <select class="form-control input-lg m-bot15" id="mySelect" onchange="myFunction()">
                                    {{#each inteligencia}}
                                    <option value="1" id="test">{{nombre}} </option>
                                    {{/each}}
                                </select>


                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Tema </label>
                            <div class="col-sm-6">
                                <select class="form-control input-lg m-bot15" id="mySelect" onchange="myFunction()">
                                    {{#each tema}}
                                    <option value="1" id="test">{{nombre}} </option>
                                    {{/each}}
                                </select>

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Tipo de Actividad</label>
                            <div class="col-sm-6">

                                <input type="text" class="form-control" id="pregunta">


                            </div>
                        </div>



                    </form>

                    <div class="form-group">
                        <div class="col-lg-offset-2 col-lg-10">


                            <button class="btn btn-secondary" type="button" data-dismiss="modal"
                                onclick="cerrar()">Cancelar</button>
                            <a class="btn btn-primary" href="#" id="actionForm" onclick="guardar()">Guardar</a>

                        </div>
                    </div>

                </div>

            </section>

        </div>


        <!-- page end-->
    </div>