<div class="form-w3layouts">
    <!-- page start-->
    <!-- page start-->
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    Agregar Estrategia
                </header>


                <div class="panel-body">
                    <form class="form-horizontal bucket-form" method="get">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Nombre Estrategia</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Inteligenca </label>
                            <div class="col-sm-6">
                                <select class="form-control input-lg m-bot15">
                                    <option>Logico matematica</option>
                                    <option>Verbal</option>
                                </select>

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Tema </label>
                            <div class="col-sm-6">
                                <select class="form-control input-lg m-bot15">
                                    <option>Famlia</option>
                                    <option>Vocabulario</option>
                                </select>

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Actividad</label>
                            <div class="col-sm-6">
                                <input type="file" id="exampleInputFile">
                            </div>
                        </div>

                        <button type="submit" class="btn btn-default">Agregar</button>

                    </form>

                </div>

            </section>

        </div>


        <!-- page end-->
    </div>