<div class="table-agile-info">
  <div class="panel panel-default">
    <div class="panel-heading">
      Agregar Temáticas
    </div>


    <div class="panel-body">
      <form class="form-horizontal bucket-form">
        <div class="form-group">
          <label class="col-sm-3 control-label">Nombre Temática</label>
          <div class="col-sm-6">
            <input class="form-control" id="nombre" type="text">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Tipo </label>
          <div class="col-sm-6">

            <select class="form-control input-lg m-bot15">
              {{#each tipo}}
              <option value="1" id="tipoT">{{tipo_tema}} </option>
              {{/each}}
            </select>

          </div>
        </div>

      </form>
      <div class="form-group">
        <div class="col-lg-offset-5 col-lg-10">

          <button class="btn btn-primary" href="#" id="actionForm" onclick="guardar2()">Guardar</button>

        </div>
      </div>


    </div>

  </div>
</div>



<script>


  function guardar() {
    console.log("ejecutando función")
  }

//estaba llamando la otra 
//cual cambio es que me perdi donde estaba llamando otra?
//es que arriba llamaba a la guardar y usted ocupa q llame a la guardar2
//era para probar si entraba a alguna de las dos pero no entra a ninguna
//brueba asi

  function guardar2() {
    console.log('entre a la fucnoon');
    var data = new FormData()
    data.append('nombre', document.getElementById("nombre").value);
    data.append('fk_tipo_tema', document.getElementById("tipoT").value);
    console.log("entro")
    console.log(document.getElementById("tipoT").value)

//en esta funcion no esta entrando
    fetch('agregarT', {

      method: 'POST', 
      body: data
    }).then(result => {
      return result.json();
    }).then(data => {
      console.log(data)
      $('#agregarT');
      location.reload();

    })
      .catch(err => {
        console.log(err);
      });

  }



</script>