<div class="table-agile-info">
    <div class="panel panel-default">
        <div class="panel-heading">
            Agregar Temáticas
        </div>

        <div class="panel-body">
            <form class="form-horizontal bucket-form" method="get">
                <div class="form-group">
                    <label class="col-sm-3 control-label">Nombre Temática</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="nombre">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Tipo </label>
                    <div class="col-sm-6">

                        <select class="form-control input-lg m-bot15">
                            {{#each tipo}}
                            <option value="1" id="tipoT">{{tipo_tema}} </option>
                            {{/each}}
                        </select>

                    </div>
                </div>
                <button type="submit" class="btn btn-default" onclick="guardar()">Agregar</button>

            </form>

        </div>


    </div>

</div>

<script> 
  function guardar() {
    var data = new FormData()
    data.append('nombre', document.getElementById("nombre").value);
    data.append('fk_tipo_tema', document.getElementById("tipoT").value);

    console.log("entro 1);

    fetch('agregarT', {
      method: 'POST',
      body: data
    }).then(result => {
      return result.json();
    }).then(data => {
      console.log(data)
      $('#agregarT');
      location.reload();
      console.log("entro 2");
    })
    .catch(err => {
      console.log(err);
    });

  }

</script> 