<div class="table-agile-info">
    <div class="panel panel-default">
        <div class="panel-heading">
            Profesores
        </div>
        <div>
            <table class="table" ui-jq="footable" ui-options='{
        "paging": {
          "enabled": true
        },
        "filtering": {
          "enabled": true
        },
        "sorting": {
          "enabled": true
        }}'>
                <thead>
                    <tr>
                        <th data-breakpoints="xs">ID</th>
                        <th>Nombre</th>

                        <th data-breakpoints="xs">Institución</th>

                        <th data-breakpoints="xs sm md" data-title="DOB">Fecha</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-expanded="true">
                        <td>1</td>
                        <td>Dennise</td>

                        <td>High School History Teacher</td>

                        <td>July 25th 1960</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Elodia</td>

                        <td>Wallpaperer Helper</td>

                        <td>March 30th 1982</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Raeann</td>

                        <td>Internal Medicine Nurse Practitioner</td>

                        <td>February 26th 1966</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Junie</td>

                        <td>Offbearer</td>

                        <td>March 29th 1966</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>