<div class="table-agile-info">
    <div class="panel panel-default">
        <div class="panel-heading">
            Estudiantes
        </div>
        <div>
            <table class="table" ui-jq="footable" ui-options='{
        "paging": {
          "enabled": true
        },
        "filtering": {
          "enabled": true
        },
        "sorting": {
          "enabled": true
        }}'>
                <thead>
                    <tr>
                        <th data-breakpoints="xs">Edad</th>
                        <th>Nombre</th>

                        <th data-breakpoints="xs">Institución</th>

                        <th data-breakpoints="xs sm md" data-title="DOB">Curso</th>
                        <th data-breakpoints="xs sm md" data-title="DOB">Docente</th>
                        <th data-breakpoints="xs sm md" data-title="DOB">Progreso</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-expanded="true">
                        <td>5</td>
                        <td>Dennise</td>

                        <td>High School History Teacher</td>

                        <td>cuarto</td>
                        <td>Mario</td>
                        <td>30</td>
                    </tr>
                   <tr data-expanded="true">
                        <td>5</td>
                        <td>Dennise</td>

                        <td>High School History Teacher</td>

                        <td>cuarto</td>
                        <td>Mario</td>
                        <td>30</td>
                    </tr>
                       <tr data-expanded="true">
                        <td>5</td>
                        <td>Dennise</td>

                        <td>High School History Teacher</td>

                        <td>cuarto</td>
                        <td>Mario</td>
                        <td>30</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>