<div class="table-agile-info">
    <div class="panel panel-default">
        <div class="panel-heading">
            Tematicas 
        </div>

        <div class="table-responsive">
            <table class="table table-striped b-t b-light">
                <thead>
                    <tr>
                       
                        <th>Nombre </th>
                        <th>Tipo </th>


                    </tr>
                </thead>
                <tbody>

                    <tr>
                         <td>Lógico matematica</td>
                         <td>Inteligencia Multiple</td>


                    </tr>
                    <tr>
                        <td>Familia</td>
                        <td>Inglés</td>


                    </tr>
               
                </tbody>
            </table>

        </div>
    </div>
</div>



