<div class="table-agile-info">
    <div class="panel panel-default">
        <div class="panel-heading">
            Tematicas
        </div>

        <div class="table-responsive">
            <table class="table table-striped b-t b-light">
                <thead>
                    <tr>

                        <th>Nombre </th>
                        <th>Tipo </th>


                    </tr>
                </thead>
                <tbody>


                    {{#each tematicas}}

                    <tr>
                        <td>{{nombre}}</td>
                        <td>{{tipo_tema}}</td>
                    </tr>
                    {{/each}}


                </tbody>
            </table>

        </div>
    </div>
</div>