	<div class="wthree-font-awesome">
			<div class="grid_3 grid_4 w3_agileits_icons_page">
						<div class="icons">
							<h2 class="w3ls_head">Estrategias Disponibles</h2>
							<section id="new">
								<h3 class="page-header page-header icon-subheading">Estrategias</h3>							  

								<div class="row fontawesome-icon-list">
                                    
									<div class="icon-box col-md-3 col-sm-4"><a class="agile-icon" href="#"><i class="fa fa-asl-interpreting" aria-hidden="true"></i> Didactico Matemticas <span class="text-muted">(alias)</span></a></div>
									
									<div class="icon-box col-md-3 col-sm-4"><a class="agile-icon" href="#"><i class="fa fa-audio-description" aria-hidden="true"></i> Didactico Espacial</a></div>
									
									  <div class="icon-box col-md-3 col-sm-4"><a class="agile-icon" href="#"><i class="fa fa-blind" aria-hidden="true"></i> Test Inglés Numeros</a></div>
									
									  <div class="icon-box col-md-3 col-sm-4"><a class="agile-icon" href="#"><i class="fa fa-braille" aria-hidden="true"></i> Test Inglés Familia</a></div>
									
									  <div class="icon-box col-md-3 col-sm-4"><a class="agile-icon" href="#"><i class="fa fa-deaf" aria-hidden="true"></i> Estrategias Espacial-Familia</a></div>
									
									  <div class="icon-box col-md-3 col-sm-4"><a class="agile-icon" href="#"><i class="fa fa-deafness" aria-hidden="true"></i> Estrategias Espacial-Numeros <span class="text-muted">(alias)</span></a></div>
									
									  <div class="icon-box col-md-3 col-sm-4"><a class="agile-icon" href="#"><i class="fa fa-envira" aria-hidden="true"></i> Estrategias Linguistico-Familia</a></div>
									
									  <div class="icon-box col-md-3 col-sm-4"><a class="agile-icon" href="#"><i class="fa fa-fa" aria-hidden="true"></i> fa-fa <span class="text-muted">(alias)</span></a></div>
									
									  <div class="icon-box col-md-3 col-sm-4"><a class="agile-icon" href="#"><i class="fa fa-first-order" aria-hidden="true"></i> fa-first-order</a></div>
									
									  <div class="icon-box col-md-3 col-sm-4"><a class="agile-icon" href="#"><i class="fa fa-font-awesome" aria-hidden="true"></i> fa-font-awesome</a></div>
									
									  <div class="icon-box col-md-3 col-sm-4"><a class="agile-icon" href="#"><i class="fa fa-gitlab" aria-hidden="true"></i> fa-gitlab</a></div>
									
									  <div class="icon-box col-md-3 col-sm-4"><a class="agile-icon" href="#"><i class="fa fa-glide" aria-hidden="true"></i> fa-glide</a></div>
									
									  <div class="icon-box col-md-3 col-sm-4"><a class="agile-icon" href="#"><i class="fa fa-glide-g" aria-hidden="true"></i> fa-glide-g</a></div>
									
									  <div class="icon-box col-md-3 col-sm-4"><a class="agile-icon" href="#"><i class="fa fa-google-plus-circle" aria-hidden="true"></i> fa-google-plus-circle <span class="text-muted">(alias)</span></a></div>
									
									  <div class="icon-box col-md-3 col-sm-4"><a class="agile-icon" href="#"><i class="fa fa-google-plus-official" aria-hidden="true"></i> fa-google-plus-official</a></div>
									
									  <div class="icon-box col-md-3 col-sm-4"><a class="agile-icon" href="#"><i class="fa fa-hard-of-hearing" aria-hidden="true"></i> fa-hard-of-hearing <span class="text-muted">(alias)</span></a></div>
									
									  <div class="icon-box col-md-3 col-sm-4"><a class="agile-icon" href="#"><i class="fa fa-instagram" aria-hidden="true"></i> fa-instagram</a></div>
									
									<div class="icon-box col-md-3 col-sm-4"><a class="agile-icon" href="#user-md"><i class="fa fa-user-md"></i> fa-user-md</a></div>
									
													<div class="icon-box col-md-3 col-sm-4"><a class="agile-icon" href="#wheelchair"><i class="fa fa-wheelchair"></i> fa-wheelchair</a></div>
													<div class="clearfix"></div>
												</div>
											</div>   
										</div>
									</div>
							</div> 
						</div>
					</div>
		</div>