<div class="form-w3layouts">

    <div class="row">

        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    Test Inteligencias Múltiples
                </header>

                <div class="panel-body">
                    <form class="form-horizontal bucket-form" method="get">
                        
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Nombre del test</label>
                            <div class="col-sm-6">
                                <select id="mySelect" onchange="myFunction()">
                                    {{#each test}}
                                    <option value="1" id="test">{{nombre_test}} </option>
                                    {{/each}}

                                </select>


                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-lg-offset-3 col-lg-6">
                                <a href="#myModal" data-toggle="modal" class="btn btn-success">
                                    Crear preguntas
                                </a>

                            </div>
                        </div>

                        <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal"
                            class="modal fade">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button aria-hidden="true" data-dismiss="modal" class="close"
                                            type="button">×</button>
                                        <h4 class="modal-title">Preguntas</h4>
                                    </div>
                                    <div class="modal-body">

                                        <form role="form">

                                            <div class="panel-body">
                                                <div class="position-center">
                                                    <form class="form-horizontal" role="form">
                                                        <div class="form-group">
                                                            <label for="exampleInputEmail1">Enunciado </label>
                                                            <input type="email" class="form-control" id="enunciado"
                                                                placeholder="Enter email">
                                                        </div>

                                                        <div class="form-group">
                                                            <label for="exampleInputFile">Imagen Enunciado</label>
                                                            <input type="file" id="Pregunta">

                                                        </div>
                                                        <div class="form-group">
                                                            <div class="col-lg-offset-2 col-lg-10">
                                                                <button type="submit" class="btn btn-danger">Guardar
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>

                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>


            </section>

        </div>
    </div>
</div>

<script>
    function guardar() {
        var data = new FormData()
        data.append('nombre', document.getElementById("nombre").value);
        data.append('imagen1', document.getElementById('img1[]').files[0]);

        fetch('respuestasDI', {
            method: 'POST',
            body: data
        }).then(result => {
            return result.json();
        }).then(data => {
            console.log(data)
            $('#myModal').modal('hide');
            location.reload();
        })
            .catch(err => {
                console.log(err);
            });

    };

    function traer(id) {
        fetch(`respuestasDI${id}`, {
            method: 'GET',
            body: JSON.stringify({ nombre: document.getElementById("test").value }),
            headers: { 'Content-Type': 'application/json' }
        }).then(result => {
            $('#myModal').modal('hide');
            location.reload();
        }).catch(err => {
            console.log(err);
        });
    }


</script>