<div class="table-agile-info">
    <div class="panel panel-default">
        <div class="panel-heading">
            Profesores
        </div>
  
        <div class="table-responsive">
            <table class="table table-striped b-t b-light">
                <thead>
                    <tr>
                        <th style="width:20px;">
                            <label class="i-checks m-b-none">
                                <input type="checkbox"><i></i>
                            </label>
                        </th>
                        <th>Nombre</th>
                        <th>Institución</th>
                        <th>Foto</th>
                       
                        <th style="width:30px;"></th>
                    </tr>
                </thead>
                <tbody>

                 
                    
                    {{#each profesor}}

                    <tr>
                
                        <td>{{nombre_persona}}</td>
                        <td>{{nombre_institucion}}</td>
                        <td>{{nombre_persona}}</td>
                  

                    </tr>
                    {{/each}}

           
      
                </tbody>
            </table>
        </div>
    </div>
</div>