<div class="form-w3layouts">

    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    Test Inglés
                </header>
                <div class="panel-body">
                    <form class="form-horizontal bucket-form" method="get">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Nombre del test</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="nombre_test">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Numero de preguntas</label>
                            <div class="col-sm-6">
                                <input type="number" class="form-control" id="numero">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Tiempo del test</label>
                            <div class="col-sm-6">
                                <select class="form-control input-lg m-bot15" id="tiempo">
                                    <option>10 min</option>
                                    <option>15 min</option>
                                    <option>20 min</option>
                                    <option>25 min</option>
                                    <option>30 min</option>
                                    <option>35 min</option>
                                    <option>40 min</option>
                                </select>

                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-lg-offset-3 col-lg-6">
                                <a href="#myModal" data-toggle="modal" class="btn btn-success">
                                    Crear Test
                                </a>

                            </div>
                        </div>

                  

                    </form>
                </div>
            </section>

        </div>
    </div>
</div>

<script>
    function guardar() {
        var data = new FormData()
        data.append('nombre', document.getElementById("nombre_test").value);
        data.append('descripcion', document.getElementById("numero").value);
        data.append('descripcion', document.getElementById("tiempo").value);


        fetch('testDI', {
            method: 'POST',
            body: data
        }).then(result => {
            return result.json();
        }).then(data => {
            console.log(data)
            $('#testDI');
            location.reload();
        })
            .catch(err => {
                console.log(err);
            });

    };



</script>